	<%= content_for(:titulo) do %>Arruda aeromodelo<%end%>

	<div class="slider-wrapper">

		<div id="da-slider" class="da-slider">
		
			<div class="da-slide">
				
				<h2>
					Super Sport-X
				</h2>
				<p>
				   Super Sport-X é um aeromodelo asa baixa, veloz com características para acrobacia mas ao mesmo tempo proporciona um vôo tranquilo, até mesmo para iniciantes.</p>
				<a href="index.html#" class="da-link">Leia mais</a>
				<div class="da-img">
					
					<img src="assets/parallax-slider/twitter.png" alt="image01" />
					
				</div>
			</div>
			<div class="da-slide">
				<h2>Piper Cub J3</h2>
				<p>O Piper Cub J3 é um clássico, com apenas 1 metro de envergadura é um belo aeromodelo tanto para iniciantes quando para aeromodelistas experientes.</p>
				<a href="index.html#" class="da-link">Leia Mais</a>
				<div class="da-img"><img src="assets/parallax-slider/responsive.png" alt="image02" /></div>
			</div>
			<div class="da-slide">
				<h2>Trainer-X</h2>
				<p>O Trainer-x é a melhor opção para iniciantes, é um aeromodelo treinador pois apresenta um vôo estavél e dócil, garantindo assim a melhor diversão e aprendizado.</p>
				<a href="index.html#" class="da-link">Leia mais</a>
				<div class="da-img"><img src="assets/parallax-slider/html5.png" alt="image03" /></div>
			</div>
			<div class="da-slide">
				<h2>Extra 300</h2>
				<p>É um asa média acrobático que proporciona grande diversão, recomendado  para pilotos experientes.</p>
				<a href="index.html#" class="da-link">Leia mais</a>
				<div class="da-img"><img src="assets/parallax-slider/css3.png" alt="image04" /></div>
			</div>
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>
		
	</div>
	<!-- end: Slider -->
			
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
			
			<hr>
	
      		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
      		<div class="hero-unit">
				<h3>
						Na compra do aeromodelo, solicite a personalização Gratuitamente, escolha as cores, coloque seu nome ou iniciais no seu aeromodelo. 
				</h3>
        		<!--<p><a class="btn btn-primary btn-large">Leia mais &raquo;</a></p>-->
      		</div>
			<!-- end: Hero Unit -->
      		
			<hr>
			
			<!-- start: Row -->
			<div class="row">
				
				<!-- start: Icon Boxes -->
				<div class="icons-box-vert-container">

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-settings ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Fácil de montar</h3>
								<p>Os nossos aeromodelos já vão quase prontos, já entelados, adesivados, com trem de pouso, parede de fogo, faltando apenas a eletrônica e pequenos ajustes</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box-->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-cup  ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Excelente qualidade de vôo</h3>
								<p>São aeromodelos fácil de pilotar e com grande qualidade de vôo indicado para iniciantes e até pilotos experientes</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-usd  ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Orçamento</h3>
								<p>Faça já o orçamento do seu aeromodelo e da sua eletrônica</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->
					
				</div>
				<!-- end: Icon Boxes -->
				<div class="clear"></div>
			</div>
			<!-- end: Row -->
			
			<hr>
			
			<!-- start: Row -->
      		<div class="row">
	
				<div class="span9">
					
					<div class="title"><h3>em Breve novos aeromodelos</h3></div>
					
					<!-- start: Row -->
		      		<div class="row">
			
						<div class="span3">
	
							<div class="picture">
								<a href="assets/extra-300.jpg" rel="image" title="mobile app">
									<img src="assets/extra-300.jpg" >
									<div class="image-overlay-zoom"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="index.html#">Extra 300</a></h4>
								<p>O Aeromodelo treinador Trainer-x é a melhor opção para iniciantes, pois apresenta um voo estavél e dócil, garantindo assim a melhor diversão e aprendizado..</p>
							</div>
					
        				</div>
					
						<div class="span3">

							<div class="picture">
								<a href="project.html">
									<img src="assets/web_app1.jpg">
									<div class="image-overlay-link"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="index.html#">Extra 300</a></h4>
								<p>O Aeromodelo treinador Trainer-x é a melhor opção para iniciantes, pois apresenta um voo estavél e dócil, garantindo assim a melhor diversão e aprendizado..</p>
							</div>

		        		</div>

						<div class="span3">

							<div class="picture">
								<a href="assets/mobile_app1.jpg" rel="image" title="mobile app">
									<img src="assets/mobile_app1.jpg">
									<div class="image-overlay-zoom"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="index.html#">Extra 300</a></h4>
								<p>O Aeromodelo treinador Trainer-x é a melhor opção para iniciantes, pois apresenta um voo estavél e dócil, garantindo assim a melhor diversão e aprendizado..</p>
							</div>

						</div>
					
        			</div>
					<!-- end: Row -->

				</div>

        		<div class="span3">
					
					

					
        		</div>

      		</div>
			<!-- end: Row -->
			
			
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			

    <!-- start: Footer Menu -->
	<div id="footer-menu" class="hidden-tablet hidden-phone">

		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Row -->
			<div class="row">

				<!-- start: Footer Menu Logo -->
				<div class="span2">
					<div id="footer-menu-logo">
							<a class="brand" href="index.html">Via<span>Hobby</span>.</a>
					</div>
				</div>
				<!-- end: Footer Menu Logo -->

				<!-- start: Footer Menu Links-->
				<div class="span9">
					
					<div id="footer-menu-links">

						<ul id="footer-nav">

							<li><a href="index.html">Home</a></li>

							<li><a href="#">Sobre</a></li>

							<li><a href="#">Preços</a></li>
								
							<li><a href="contact.html">Contato</a></li>

						</ul>

					</div>
					
				</div>
				<!-- end: Footer Menu Links-->

				<!-- start: Footer Menu Back To Top -->
				<div class="span1">
						
					<div id="footer-menu-back-to-top">
						<a href="index.html#"></a>
					</div>
				
				</div>
				<!-- end: Footer Menu Back To Top -->
			
			</div>
			<!-- end: Row -->
			
		</div>
		<!-- end: Container  -->	

	</div>	
	<!-- end: Footer Menu -->

	<!-- start: Footer -->
	<div id="footer">
		
		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Row -->
			<div class="row">

				<!-- start: About -->
				<div class="span3">
					
					<h3>Sobre nós</h3>
					<p>
							Viahobby tem o objetivo de oferecer aeromodelos elétricos de qualidade e baixo custo garantindo a diversão a todos os apaixonados pelo hobby.
					</p>
						
				</div>
				<!-- end: About -->

				
				<div class="span6">
				
				
				</div>
				
			</div>
			<!-- end: Row -->	
			
		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Footer -->

	<!-- start: Copyright -->
	<div id="copyright">
	
		<!-- start: Container -->
		<div class="container">
		
		<div class="span12">
				<p>
					&copy; 2013, <a href="http://viahobby.com.br">viahobby</a>. Criado por <a href="http://viahobby.com.br">José Arruda</a>
				</p>
			</div>
	
		</div>
		<!-- end: Container  -->
		
	</div>	
